@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
    background: linear-gradient(#dff5ef, #e6f7ff);
    overflow: hidden;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#64c1a6, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* โลโก้ */
#logo {
    width: 500px;
    margin-bottom: 25px;
    opacity: 0;
    transform: translateY(40px);
}

/* ปุ่มเริ่มใช้งาน */
#start-btn {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #0dbf8d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
}

#start-btn:hover {
    background-color: #207152;
    transition: 0.7s;
}

/* ---------------- Animation ---------------- */
.move-up {
    animation: moveUpShow 1.1s ease-out forwards;
}

/* เพิ่ม delay ให้ปุ่มขึ้นช้ากว่าโลโก้เล็กน้อย */
.delay {
    animation-delay: 0.25s;
}

@keyframes moveUpShow {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------- how.html ---------------- */
.onboarding-wrapper {
    position: absolute;
    top: 0; left: 0;
    width: 500%;
    height: 100vh;
    display: flex;
    transition: transform 0.2s ease;
}

.page {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.step-card {
    background: white;
    max-width: 500px;
    min-height: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.step-img {
    width: 180px;
    margin-top: 25px;
}

.title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

.desc {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
    color: #444;
}

.dots {
    margin-top: 20px;
}
.dot {
    width: 10px; height: 10px;
    background: #94d5a5;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
}
.active {
    background: #379556;
}

.btn-area {
    margin-top: 20px;
}

.btn {
    padding: 12px 20px;
    width: 150px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.btn-back {
    background: #e6e5e5;
}

.btn-next {
    background: #33af5c;
    color: white;
}

.btn-finish {
    background: #33af5c;
    color: white;
}